name: Build Data

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses:  actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name:  Install dependencies
      run: |
        python -m pip install --upgrade pip 
        pip install requests python-dotenv 

    - name: Run build script
      env:
        GITHUB_TOKEN:  ${{ secrets.GITHUB_TOKEN }}
      run: python build.py

    - name: Commit and push changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -f build/data.json
        git diff --staged --quiet || git commit -m "Update data.json"
        git checkout main
        git push origin main